@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    text-align: center;
    background-color: #d1e6dc;
    color: #32454f;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Sanchez', 'serif';
    margin-top: 2%;
    margin-bottom: 1%;
    color: #14566a;
    font-size: 60px;
}

p {
    text-align: justify;
    margin-right: 22%;
}

a {
    color: #4d6c4d;
    transition: color 0.3s ease;
}

a:visited {
    color: #4d6c4d;
}

a:hover {
    color: #34b034;
}

.flex-container {
    display: flex;
}

.section {
    font-weight: bold;
    font-size: 28px;
}

#portrait {
    width: 55%;
    border: 5px double #383882;
    flex-basis: content;
    margin-right: -20%;
}

#right-col {
    margin-top: -1.1%;
    flex-basis: 200%;
}

#main-links {
    margin-right: 105px;
}

.box-link a {
	padding: 10px 20px;
}

.box-link a::before,
.box-link a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #354856;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.box-link a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.box-link a:hover::before,
.box-link a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.box-link a:hover::after,
.box-link a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

section a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    background-color: #c7d9b5;
}

section a:hover,
section a:focus {
    outline: none;
    color: #aeff76;
}